@import 'tailwindcss';

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  @apply bg-neutral-950 text-neutral-50;
  font-family: var(--font-manrope), sans-serif;
}

.no-ymaps-copyright [class*='copyrights-pane'] {
  visibility: hidden !important;
}
/* 
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
} */
