@import 'tailwindcss';

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  @apply bg-neutral-950 text-neutral-50;
  font-family: var(--font-manrope), sans-serif;
}

.no-ymaps-copyright [class*='copyrights-pane'] {
  visibility: hidden !important;
}

@layer components {
  .grid-container {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-4;
  }
}
